# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/Account and its owner/out/
/Problems/Account and its owner/out/production/classes/
/Problems/Alphabetical order/out/
/Problems/Alphabetical order/out/production/classes/
/Problems/Assignments/out/
/Problems/Assignments/out/production/classes/
/Problems/Balance management/out/
/Problems/Balance management/out/production/classes/
/Problems/Cyclically shifting elements/out/
/Problems/Cyclically shifting elements/out/production/classes/
/Problems/Danger levels/out/
/Problems/Danger levels/out/production/classes/
/Problems/Direction/out/
/Problems/Direction/out/production/classes/
/Problems/Floor-space of the room/out/
/Problems/Floor-space of the room/out/production/classes/
/Problems/Initializing an array of integers/out/
/Problems/Initializing an array of integers/out/production/classes/
/Problems/Javadoc comment/out/
/Problems/Javadoc comment/out/production/classes/
/Problems/Project constants and methods/out/
/Problems/Project constants and methods/out/production/classes/
/Problems/Sum array elements greater than a value/out/
/Problems/Sum array elements greater than a value/out/production/classes/
/Problems/Sum of numbers in the range/out/
/Problems/Sum of numbers in the range/out/production/classes/